// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~venobox/dist/venobox.css";

.img-del-btn{
    margin-top: -56px;
}
.uploader-ui{
    width: 100px;
    height: 100px;
}
td [data-gall]:first-child .list-thumbnail{
    margin-left: 0;
}

.list-thumbnail{
    margin-left: -20px;
}
